.menu-bar-perfil {
    display: flex;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    margin: .5em 0;
}

.menu-brand {
    display: flex;
    align-items: center;
}

.menu-logo {
    display: flex;
    background: url("../img/logo.png") center center/35px no-repeat;
    height: 35px;
    width: 35px;
    margin-right: .6em;
}

.menu-bar-perfil .menu-perfil {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
}

.menu-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-bar-bottom {
    width: 100%;
    height: 2px;
    background-color: #797E8D;
}

.lessons-container {
    padding: 2em 1.5em;
    text-align: center;
    margin-top: 1em;
    background-color: #FFF;
    border-radius: 8px;
    
    display: grid;
    grid-template-columns: 1fr;
}

.lessons-container a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.lesson {
    margin-bottom: 3em;
}

.lesson-icon {
    display: flex;
    justify-content: center;
    text-align: center;
}

.lesson-border {
    padding: .5em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: .5em solid #31AE5B;
}

.lesson-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #3B81EA;
    border-radius: 50%;
}

.lesson-image img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.lesson-name {
    margin-top: 0.3em;
    width: 100%;
    font-size: 18px;
}

.perfil-menu {
    text-align: center;
    color: #FFF;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(12, 29, 39, .9);
    top: 0;
    left: 0;
}

.btn-close-menu {
    text-align: right;
    margin: 1em 1em 4em 0;
}

.perfil-menu table {
    width: 100%;
}

.perfil-menu table tr {
    width: 100%;
    text-align: center;
}

.perfil-menu table tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

.perfil-menu table tr td a {
    width: 100%;
    height: 100%;
    padding: .5em;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-menu table tr td span {
    margin-left: 0.3em;
}

.perfil-menu table tr:first-child td {
    font-size: 30px;
    margin-bottom: 1em;
}

.perfil-menu table tr:last-child td a {
    color: #E2335D;
}

@media screen and (min-width: 768px) {

    .container {
        margin: 0 4em;
    }
    
    .menu-bar-perfil {
        font-size: 48px;
        margin: .3em 0;
    }

    .menu-logo {
        background: url("../img/logo.png") center center/70px no-repeat;
        width: 70px;
        height: 70px;
    }

    .menu-bar-perfil .menu-perfil {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .lessons-container {
        padding: 2em 4em;
        margin: 2em 4em;
        border-radius: 10px;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   

    .lessons-container div:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media screen and (min-width: 1280px) {
    
    .menu-bar-perfil {
        font-size: 38px;
    }

    .menu-logo {
        background: url("../img/logo.png") center center/50px no-repeat;
        width: 50px;
        height: 50px;
    }

    .menu-bar-perfil div:last-child {
        width: 50px;
        height: 50px;
    }

    .lessons-container {
        padding: 4em 10em;
        margin: 2em 12em;
    }   
}