.menu-voltar {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin-left: auto;
}

.menu-voltar span {
    margin-right: .5em;
    color: #082C89;
}

.menu-voltar a {
    color: #0C1D27;
}

.menu-voltar span {
    font-weight: bold;
}

.login-form-container {
    background-color: #FFF;
    text-align: center;
    border-radius: 10px;
}

.nome-user {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 3em;
}

.nome-user span {
    font-size: 15px;
}

.perfil-form-container div input {    
    box-sizing: border-box;
    margin: .5em 0 1em 0;
    border-radius: 8px;
    font-size: 12px;
    padding: 0 .9em;
}

.perfil-form-butoes {
    display: grid;
    width: 100%;
}

.perfil-form-butoes div {
    width: 100%;
}

.perfil-form-butoes div input[type=submit] {
    background-color: #31AE5B;
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    margin-top: 1.5em;
    width: 70%;
}

.perfil-form-butoes div:last-child {
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-form-butoes div:last-child div {
    width: 100%;
    border: 3px solid #E2335D;
    border-radius: 8px;
    width: 70%;
    padding: .5em;
}

.perfil-form-butoes div:last-child div a {
    color: #E2335D;
}

@media screen and (min-width: 768px) {
    .menu-voltar, .menu-voltar span {
        font-size: 26px;
    }
    
    .nome-user {
        font-size: 26px;
        margin-bottom: 3em;
    }

    .nome-user span {
        font-size: 22px;
    }

    .perfil-form-butoes div input[type=submit] {
        font-size: 26px;
        width: 70%;
    }

    .perfil-form-butoes div input[type=submit] {
        background-color: #31AE5B;
        font-weight: 700;
        font-size: 26px;
        color: #FFF;
        margin-top: 1.5em;
        width: 70%;
    }
    
    .perfil-form-butoes div:last-child {
        width: 100%;
    }
    
    .perfil-form-butoes div:last-child a {
        font-size: 26px;
        font-weight: 700;
    }
}

@media screen and (min-width: 1280px) {
   
    .menu-voltar {
        font-size: 20px;
    }

    .perfil-form-butoes {
        grid-template-columns: 1fr 1fr;
    }

    .perfil-form-butoes div:first-child {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .perfil-form-butoes div:first-child, .perfil-form-butoes div:last-child {
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .perfil-form-butoes div:last-child {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .perfil-form-butoes div:last-child {
        align-content: center;
        align-items: center;
        height: min-content;
        align-self: center;
        text-align: left;
    }

    

}